body {
  background: linear-gradient(#330033, #1AB4E5);
}

h1, h2, h3 {
  font-family: 'Acme', sans-serif;
  text-align: center;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
}

footer {
  background: #283747;
  color: white; }

  img {
    width: 15rem;
  }

  .readSect {
    background: white;
  }

  .jumbotron {
    margin: 0;
    padding: 1.75rem;
    background-image: linear-gradient(to right, #330033, #2980B9, #1AB4E5);
    color: white;
  }

  .navbar-dark {
    background-color: #282721;
  }

  .row-content {
    padding: 3rem, 0;
    min-height: 12rem;
  }

  .site-footer {
    background-image: linear-gradient(#330033, #2980B9);
    color: white;
  }

  .list-items {
    color: white;
  }

  .fa-lg {
    padding: 1rem;
  }

  .fa-youtube {
    background: #DF0101;
    color: white;
  }

  .hide {
    display: none;
  }

  .fs-title {
    text-transform: uppercase;
    color: #330033;
    margin-bottom: 10px;
  }